:root{
    --black: #111;
    --blue: #7900FF;
}

.hero{
    height: 100vh;
    background: url('../img/hero-bg.svg') center/cover no-repeat;
}

.index-left{
    position: relative;
    width: 65%;
    height: 100%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-title{
    font-size: 4rem;
    font-weight: 600;
    max-width: 65%;
    color: var(--blue);
}
.hero-desc{
    font-size: 1.125rem;
    max-width: 60%;
    color: aqua;
}
.hero-btns{
    position: relative;
    margin-bottom: 6rem;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
.hero-btn1{
    width: auto;
    height: auto;
    padding: .5rem .75rem;
    color: #FFF;
    border: 2px solid #FFF;
    transition: all .5s ease;
}
.hero-btn1:hover{
    box-shadow: 2px 2px 10px rgba(255, 255, 255, .25), -2px -2px 10px rgba(255, 255, 255, .25);
}
.hero-btn2{
    width: auto;
    height: auto;
    padding: .5rem .75rem;
    color: #FFF;
    background: linear-gradient(120deg, #7900FF, fuchsia);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 5;
    transition: all .5s ease;
}
.hero-btn2:hover{
    box-shadow: 5px 5px 10px #7700ff2f, -5px -5px 10px #7900FF2F;
    transform: scale(.95);
}


.index-right{
    position: relative;
    right: 5%;
    width: 45%;
    height: 100%;
    display: grid;
    place-content: center;
}

.hero-img{
    width: 450px;
    height: auto;
}


.services-wrapper{
    position: relative;
    margin: 2rem 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-card{
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.reversed-card{
    flex-direction: row-reverse;
}
.service-card-img{
    position: relative;
    width: 300px;
    height: auto;
}
.service-card-info{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.service-card-title{
    font-size: 1.5rem;
    text-align: center;
}
.service-card-desc{
    font-size: 1.125rem;
    color: darkslategray;
}


@media (min-width: 768px) {
    .service-card-img{
        margin: 0 8rem;
    }
}



#aboutus{
    position: relative;
    width: 100%;
    min-height: unset;
    height: 50vh;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutbg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
#aboutus h1{
    font-size: 2.5rem;
}
.about-content{
    max-width: 70%;
    font-size: 1.2rem;
    text-align: center;
}
.team{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.team-member{
    position: relative;
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.member-img{
    position: relative;
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
}

.clients-section{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clients-section h1{
    font-size: 2.5rem;
    text-align: center;
}
.clients-wrapper{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.client-img{
    position: relative;
    width: 180px;
    height: 180px;
    margin-bottom: 2rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.client-img:hover{
    box-shadow: 2px 2px 8px rgba(0,0,0,0.35);
}


.testimonial-section{
    position: relative;
    min-height: 70vh;
}


/* Testimonial Card Styling */

figure.snip1192 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 340px;
    width: 100%;
    color: #222;
    text-align: left;
    box-shadow: none !important;
}
  figure.snip1192 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  figure.snip1192 img {
    max-width: 100%;
    margin: 0 auto;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: block;
    z-index: 1;
    position: relative;
}
  figure.snip1192 blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 30px 50px 65px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
  figure.snip1192 blockquote:before,
  figure.snip1192 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}
  figure.snip1192 blockquote:before {
    top: 35px;
    left: 20px;
}
  figure.snip1192 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
}
  figure.snip1192 .author {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}
  figure.snip1192 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}
  figure.snip1192 .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
}

.start-rating >*{
    transform: scale(1.2);
}


.contact-section{
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.contact-form-div{
    position: relative;
    width: 50%;
    height: 100%;
    display: grid;
    place-content: left;
}

.form-title{
    width: 100%;
    padding-left: .75rem;
    color: #FFF;
    font-size: 1.5rem;
    text-align: left;
}

.contact-form{
    position: relative;
    padding: 2rem;
    width: 600px;
    height: 100%;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.35);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.contact-form-row{
    position: relative;
    padding: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
label{
    color: #FFF;
}
input, textarea{
    position: relative;
    border: none;
    padding: .75rem;
    border-radius: 20px;
    outline: none;
}
input{
    width: 350px;
}
textarea{
    width: 100%;
    height: 200px !important;
    resize: none;
}
.form-submit{
    padding: .5rem .75rem;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF;
    background: var(--blue);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
}
.form-submit:hover{
    background: #FFF;
    color: var(--black);
}
#send-svg{
    fill: #FFF;
    stroke: transparent;
    transition: all .3s ease;
}
.form-submit:hover #send-svg{
    fill: var(--black);
}

.animation-section{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.animation{
    position: relative;
    width: 500px;
    height: auto;
}


.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.index-container--left{
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.index-container--left h1{
    margin-bottom: 1rem;
    text-align: left;
    font-size: 3rem;
    color: var(--blue);
}
.index-container--left p{
    font-size: 1.25rem;
    text-align: left;
    color: darkslategray;
    font-weight: 600;
}
.index-container--left img{
    position: relative;
    margin-top: 2rem;
    width: 450px;
    height: auto;
}


.index-container--right{
    position: relative;
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.index-container--right img{
    position: relative;
    width: 475px;
    height: auto;
    margin-bottom: 4rem;
}
.index-container--right p{
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 600;
    color: darkslategray;
}


@media (max-width: 768px) {

    .hero{
        height: auto;
        background: none;
        overflow: hidden;
    }

    .hero-wrapper{
        flex-direction: column;
    }

    .index-left, .index-right{
        padding: 2rem 1rem;
        width: 100%;
    }
    .index-left{
        clip-path: polygon(0% 0%, 100% 0, 100% 75%, 0 100%, 0% 100%);
        background: #111;
    }
    .index-right{
        position: relative;
        top: -5vh;
        right: .75rem;
        padding-right: unset;
        display: none;
    }

    .hero-title{
        font-size: 1.75rem;
        max-width: 95%;
    }
    .hero-desc{
        font-size: 1rem;
        max-width: 100%;
    }

    .hero-btns{
        margin-top: 1rem;
        width: 80vw;
    }

    .hero-img{
        width: 300px;
    }


    .wrapper{
        padding: 0 2rem;
    }
    .index-container--right,
    .index-container--left{
        width: 100%;
        height: auto;
    }
    .index-container--right{
        flex-direction: column-reverse;
    }

    .index-container--left h1{
        font-size: 2rem;
    }
    .index-container--left img, .index-container--right img{
        width: 250px;
    }
    .index-container--right img{
        margin-bottom: unset;
        margin-top: 2rem;
    }
    .index-container--right p{
        font-size: 1rem;
        max-width: unset;
    }


    .service-card{
        padding: 1rem 1.5rem;
        margin-bottom: 4rem;
        flex-direction: column-reverse;
    }
    .service-card-img{
        width: 75vw;
        height: auto;
        align-self: center;
    }
    .service-card-info{
        width: 100%;
    }


    #aboutus{
        height: auto;
        padding: 0 1rem;
    }
    #aboutus h1{
        font-size: 2.25rem;
    }
    .about-content{
        max-width: 90%;
    }
    .aboutbg{
        top: 10%;
    }
    .team{
        height: 100vh;
        flex-direction: column;
    }


    figure.snip1192{
        margin: 20px 1%;
    }

    .contact-section{
        margin-bottom: unset;
        padding: unset;
        flex-direction: column-reverse;
    }
    .contact-section h1{
        font-size: 2.25rem;
    }
    .contact-form-div, .animation{
        width: 100%;
        height: auto;
    }
    .contact-form{
        padding: 1rem;
        width: 100vw;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        box-shadow: unset;
    }
    .form-title{
        text-align: center;
    }
    .contact-form-row{
        flex-direction: column;
        align-items: flex-start;
    }
    label{
        margin-left: 1rem;
        margin-bottom: .5rem;
    }
    input{
        width: 80vw;
    }


    .animation{
        width: 300px;
    }
}
