strong{
    color: darkslategray;
}

.hero{
    height: 60vh;
}
.hero-container{
    position: relative;
    padding: 3rem 2rem;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.webbg{
    background: url('../img/webbg.jpg') center/cover no-repeat;
}
.smarkbg{
    background: url('../img/smarkbg.jpg') center/cover no-repeat;
}
.dmarkbg{
    background: url('../img/dmarkbg.jpg') center/cover no-repeat;
}




.hero-content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.hero-content h1{
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    color: #FFF;
    line-height: 5rem;
}
.hero-content p{
    font-size: 1.25rem;
    color: aqua;
}

.service-btns{
    position: relative;
    margin-top: 4rem;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.service-cta{
    position: relative;
    padding: .75rem 1.25rem;
    background: linear-gradient(120deg, blue, fuchsia);
    border-radius: 25px;
    transition: all .5s ease;
}
.service-cta p{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 1rem;
}
.service-cta:hover{
    box-shadow: 0 2px 8px rgba(0,0,0,0.75);
}
.read-more{
    position: relative;
    padding: .75rem 1.25rem;
    background: transparent;
    border: 2px solid #FFF;
    border-radius: 25px;
}
.read-more p{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 1rem;
}



.hero-right{
    position: relative;
    width: 30%;
    height: 100%;
    display: grid;
    place-content: center;
}
.web1{
    width: 450px;
    height: auto;
}


#content{
    position: relative;
    padding: 2rem 3rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.vertical-content{
    flex-direction: column !important;
}
.service-content{
    padding: 0 4rem;
}

.content-top, .content-bottom{
    position: relative;
    width: 100%;
    height: auto;
}
.content-left{
    width: 60%;
    height: auto;
}
.content-right{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-wrapper{
    position: relative;
    margin: 2rem auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    position: relative;
    margin: 1rem 2rem;
    padding: 1rem;
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-color: #FFF;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1), -2px -2px 10px rgba(0,0,0,0.1);
    transition: all .5s ease;
}
.card-icon{
    position: relative;
    margin-bottom: 2rem;
    width: 64px;
    height: 64px;
    display: grid;
    place-content: center;
    background-color: aqua;
    color: rgb(0, 50, 130);
    font-size: 28px;
    border-radius: 50%;
}
.card-title{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.card-desc{
    font-size: .9rem;
    color: darkslategray;
}


.services-page-form{
    position: relative;
    margin: 2rem 0 40% 2rem;
    padding: 1rem;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #111;
}
.form-title{
    color: #FFF;
}
.contact-form-row{
    position: relative;
    padding: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
label{
    color: #FFF;
}
input, textarea{
    position: relative;
    border: none;
    padding: .75rem;
    border-radius: 20px;
    outline: none;
}
input{
    width: 300px;
}
textarea{
    width: 100%;
    height: 200px !important;
    resize: none;
}
.form-submit{
    padding: .5rem .75rem;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 500;
    color: #FFF;
    background: var(--blue);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease;
}
.form-submit:hover{
    background: #FFF;
    color: var(--black);
}
#send-svg{
    fill: #FFF;
    stroke: transparent;
    transition: all .3s ease;
}
.form-submit:hover #send-svg{
    fill: var(--black);
}


.animation{
    position: relative;
    width: 600px;
    height: 600px;
}
.marketingimg{
    width: 450px !important;
    height: 450px !important;
}

@media (max-width: 768px) {
    .hero{
        height: 50vh;
    }
    .hero-content{
        text-align: center;
    }
    .hero-content h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .service-btns{
        width: 100%;
    }


    .title-large{
        font-size: 2rem;
        text-align: center;
    }

    #content{
        padding: 2rem;
        flex-direction: column;
    }

    .service-content{
        padding: unset;
    }
    .content-left, .content-right{
        width: 100%;
        height: auto;
    }

    .services-page-form{
        margin: unset;
        margin-bottom: 2rem;
        width: 100%;
    }
    input{
        width: 250px;
    }

    .animation{
        width: 400px;
        height: 400px;
        display: none;
    }
    .marketingimg{
        width: 300px !important;
        height: 300px !important;
        display: none;
    }
}

@media (min-width: 769px) {
    .webdev-anim{
        display: none;
    }
}